<h1>Trips#show</h1>
<p>Find me in app/views/trips/show.html.erb</p>

<p>driver:<%= link_to @trip.driver.name, driver_path(@trip.driver.id) %></p>

<p>passenger:<%= link_to @trip.passenger.name, passenger_path(@trip.passenger.id) %></p>

<% if @trip.rating %>
  <p>rating:<%= @trip.rating %></p>
<% else %>
  
  <%= form_with model: @trip, class: "edit_rating_form", url: passenger_trip_path do |f| %>

  <p><%= "Form for editing a trip" %></p>

  <%= f.label :rating %>
  <%= f.select :rating, [1, 2, 3, 4, 5]%>
  
  <%= f.submit "add rating", class: "trip-form__submit-btn" %>

  <% end %>
<% end %>

<p>cost:<%= number_to_currency(@trip.cost/100.0, :unit => "$")  %></p>

<!-- How do you edit these?? driver pass edit path? Maybe edit should be a general path instead -->
<%= button_to "Edit", edit_passenger_trip_path(@trip.id), method: :get %>

<%= button_to "Delete", passenger_trip_path(@trip.id), method: :delete, data: {confirm: "you sure you wanna delete?"} %>