<h1>Passengers#show</h1>
<p>Find me in app/views/passengers/show.html.erb</p>

<h1><%= @passenger.name %></h1>
<%= button_to "Edit Passenger", edit_passenger_path(@passenger.id), method: :get %>
<%= button_to "Delete Passenger", passenger_path(@passenger.id), method: :delete, data: {confirm: "you sure you wanna delete?"} %>

<h2>phone number: <%= @passenger.phone_num %></h2>

<table>
    <tr>
        <th>id</th>
        <th>date</th>
        <th>driver</th>
        <th>passenger</th>
        <th>price</th>
        <th>rating</th>
        <th>edit</th>
        <th>delete</th>
    </tr>
    <% @passenger.trips.each do |trip| %>
    <tr>
        <td><%= link_to trip.id, trip_path(trip.id) %></td>
        <td><%= trip.date.strftime("%F") %></td>
        <td><%= link_to trip.driver.name, driver_path(trip.driver.id) %></td>
        <td><%= link_to trip.passenger.name, passenger_path(trip.passenger.id) %></td>
        <td><%= trip.cost/100.0 %></td>
        <td><%= trip.rating %></td>
        <td><%= button_to "Edit", edit_trip_path(trip.id), method: :get %></td>
        <td><%= button_to "Delete", trip_path(trip.id), method: :delete, data: {confirm: "you sure you wanna delete?"} %></td>
    </tr>
    <% end %>
</table>

