<h1><%= @driver.name %></h1>
<section class="buttons">
  <%= button_to "Edit Driver", edit_driver_path(@driver.id), method: :get %>
  <%= button_to "Delete Driver", driver_path(@driver.id), method: :delete, data: {confirm: "you sure you wanna delete?"} %>
</section>

<section class="description">
  <h3>vin: <%= @driver.vin %></h3>
  <h3>average rating: <%= @driver.average_rating %></h3>
  <h3>total earnings: <%= number_to_currency(@driver.total_cost, :unit => "$") %></h3>
</section>

<%= render partial: "trips-table", locals: {
  user: @driver,
} %>
